.arl_form_title
  Import picture

= form_with(model: [:admin, album], url: admin_album_picture_create_from_import_path(album), local: true, class: :arl_form) do |f|
  .arl_form_data
    = f.fields_for :pictures, album.pictures.build do |a|
      = render 'form_elements/text_field', attribute: :source_catalog_file_path, form: a, aside: "catalog/#{catalog_path_suffix_pictures}/"
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
