= form_with(model: [:admin, event], local: true, class: :arl_form) do |f|
  .arl_form_title
    Event details
  .arl_form_data
    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :title_text_markup, 'Title', class: :arl_form_data_label
      = f.text_field :title_text_markup, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_inline
      = f.check_box :published, class: :arl_form_data_checkbox
      = f.label :published, class: :arl_form_data_label_inline
      
    .arl_form_data_attr.arl_form_layout_inline
      = f.check_box :indexed, class: :arl_form_data_checkbox
      = f.label :indexed, class: :arl_form_data_label_inline

    .arl_form_data_attr.arl_form_layout_blocks_wide
      %label.arl_form_data_label Date/time of event start:
      .arl_form_layout_inline_wrap
        .arl_form_layout_datetime
          .arl_form_layout_blocks
            = f.label :datetime_year, 'year', class: :arl_form_data_label_dependent
            = f.select :datetime_year, 2000..(Date.current.year + 3), {selected: event.datetime_year, include_blank: false}, {class: :arl_form_data_select}
          .arl_form_layout_time_separator= '-'
          .arl_form_layout_blocks
            = f.label :datetime_month, 'month', class: :arl_form_data_label_dependent
            = f.select :datetime_month, (01..12).collect {|n| [n.to_s.rjust(2,'0'), n]}, {selected: event.datetime_month, include_blank: false}, {class: :arl_form_data_select}
          .arl_form_layout_time_separator= '-'
          .arl_form_layout_blocks
            = f.label :datetime_day, 'day', class: :arl_form_data_label_dependent
            = f.select :datetime_day, (01..31).collect {|n| [n.to_s.rjust(2,'0'), n]}, {selected: event.datetime_day, include_blank: false}, {class: :arl_form_data_select}
        .arl_form_layout_datetime
          .arl_form_layout_blocks
            = f.label :datetime_hour, 'hr', class: :arl_form_data_label_dependent
            = f.select :datetime_hour, (00..23).collect {|n| [n.to_s.rjust(2,'0'), n]}, {selected: event.datetime_hour, include_blank: false}, {class: :arl_form_data_select}
          .arl_form_layout_time_separator= ':'
          .arl_form_layout_blocks
            = f.label :datetime_min, 'min', class: :arl_form_data_label_dependent
            = f.select :datetime_min, (00..59).collect {|n| [n.to_s.rjust(2,'0'), n]}, {selected: event.datetime_min, include_blank: false}, {class: :arl_form_data_select}

    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :datetime_zone, 'local time zone', class: :arl_form_data_label
      .arl_form_layout_inline
        = f.time_zone_select :datetime_zone, ActiveSupport::TimeZone.all, {default: Rails.application.config.time_zone}, {class: :arl_form_data_select}

    - if @arlocal_settings.admin_forms_edit_slug_field
      .arl_form_data_attr.arl_form_layout_blocks
        = f.label :slug, 'Slug', class: :arl_form_data_label
        = render 'admin/shared/form_slug', form: f
    
    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :alert, class: :arl_form_data_label
      = f.text_field :alert, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :city, class: :arl_form_data_label
      = f.text_field :city, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_blocks
      .arl_form_layout_dependent_attr
        = f.label :details_text_markup, 'Details', class: :arl_form_data_label
        = f.select :details_parser_id, selectable.markup_parsers, {selected: f.object.details_parser_id}, {class: :arl_form_data_select}
      ~ f.text_area :details_text_markup, class: :arl_form_data_text_area

    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :map_url, class: :arl_form_data_label
      = f.text_field :map_url, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_inline
      = f.check_box :show_can_cycle_pictures, class: :arl_form_data_checkbox
      = f.label :show_can_cycle_pictures, class: :arl_form_data_label_inline

    .arl_form_data_attr.arl_form_layout_inline.arl_nyi
      = f.check_box :show_can_have_more_pictures_link, class: :arl_form_data_checkbox
      = f.label :show_can_have_more_pictures_link, class: :arl_form_data_label_inline

    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :venue, class: :arl_form_data_label
      = f.text_field :venue, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :venue_url, class: :arl_form_data_label
      = f.text_field :venue_url, class: :arl_form_data_text_field
      
    - if @auto_keyword
      = f.fields_for :event_keywords do |et|
        = render 'admin/shared/form_auto_keyword', auto_keyword: @auto_keyword, form: et

  .arl_form_actions
    = f.submit class: :arl_button_form_submit