= form_with(model: [:admin, article], local: true, class: :arl_form) do |f|
  .arl_form_title
    Article Details

  .arl_form_data
    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :title, class: :arl_form_data_label
      = f.text_field :title, size: 50, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_inline
      = f.check_box :published, class: :arl_form_data_checkbox
      = f.label :published, class: :arl_form_data_label_inline
      
    .arl_form_data_attr.arl_form_layout_inline
      = f.check_box :indexed, class: :arl_form_data_checkbox
      = f.label :indexed, class: :arl_form_data_label_inline

    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :author, class: :arl_form_data_label
      = f.text_field :author, size: 50, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_inline
      = f.label :date_released, class: :arl_form_data_label_margin_right
      = f.date_select :date_released, {}, {class: :arl_form_data_select}

    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :copyright_notice, class: :arl_form_data_label
      = f.text_field :copyright_notice, size: 50, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_blocks
      .arl_form_layout_dependent_attr
        = f.label :text_markup, 'Text', class: :arl_form_data_label_margin_right
        = f.select :parser_id, selectable.markup_parsers, {selected: f.object.parser_id}, {class: :arl_form_data_select}
      ~ f.text_area :text_markup, class: :arl_form_data_text_area

  .arl_form_actions
    = f.submit class: :arl_button_form_submit
