- if selectable.articles.count >= 1
  = form_with(model: [:admin, info_page], url: admin_info_path(pane: :article), local: true, class: :arl_form, method: :patch) do |f|
    .arl_form_title
      Select an article
    .arl_form_data
      .arl_form_data_attr.arl_form_layout_blocks
        = f.label :article_id, class: :arl_form_data_label
        = f.collection_select :article_id, selectable.articles, :id, :title, {include_blank: true}, {class: :arl_form_data_select}        
      - if info_page.has_article
        .arl_form_data_attr.arl_form_layout_blocks
          = link_to %Q|edit article: "#{info_page.article.title}"|, edit_admin_article_path(info_page.article_id), class: :arl_form_data_attr_explanation
    .arl_form_actions
      = f.submit class: :arl_button_form_submit