= html_head_title_extend! 'info'

.arl_admin_resource_header
  .arl_admin_resource_header_title= "Editing Info Page"
  .arl_admin_resource_header_buttons
    = button_admin_to_edit edit_admin_info_path
  = render '/admin/info/admin_info_stats', info_page: @info_page

.arl_info_show
  - if @info_page.has_items_group_nil
    .arl_info_show_group
      .arl_info_show_group_nil
        - @info_page.items_group_nil.each do |item|
          = render 'show_info_item', item: item
  - if @info_page.has_items_group_a_or_b
    .arl_info_show_group
      .arl_info_show_group_a
        - @info_page.items_group_a.each do |item|
          = render 'show_info_item', item: item
      .arl_info_show_group_b
        - @info_page.items_group_b.each do |item|
          = render 'show_info_item', item: item
