= form_with(model: [:admin, picture], local: true, class: :arl_form) do |f|
  .arl_form_picture
    = picture_preferred_tag(picture, html_class: :arl_admin_pictures_show_image)
  .arl_form_title
    Picture details
  .arl_form_data
    .arl_form_data_attr.arl_form_layout_blocks
      .arl_form_layout_dependent_attr
        = f.label :title_text_markup, 'Title', class: :arl_form_data_label_margin_right
        = f.select :title_parser_id, selectable.markup_parsers, {selected: f.object.title_parser_id}, {class: :arl_form_data_select}
      ~ f.text_field :title_text_markup, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_inline
      = f.check_box :published, class: :arl_form_data_checkbox
      = f.label :published, class: :arl_form_data_label_inline
      
    .arl_form_data_attr.arl_form_layout_inline
      = f.check_box :indexed, class: :arl_form_data_checkbox
      = f.label :indexed, class: :arl_form_data_label_inline

    - if @arlocal_settings.admin_forms_edit_slug_field
      .arl_form_data_attr.arl_form_layout_blocks
        = f.label :slug, class: :arl_form_data_label
        = render 'admin/shared/form_slug', form: f
              
    .arl_form_data_attr.arl_form_layout_blocks
      = f.label :catalog_file_path, class: :arl_form_data_label
      %aside.arl_form_data_attr_explanation= "#{catalog_path_suffix_pictures}/"
      = f.text_field :catalog_file_path, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_blocks
      .arl_form_layout_dependent_attr
        = f.label :credits_text_markup, 'Credits', class: :arl_form_data_label_margin_right
        = f.select :credits_parser_id, selectable.markup_parsers, {selected: f.object.credits_parser_id}, {class: :arl_form_data_select}
      ~ f.text_area :credits_text_markup, class: :arl_form_data_text_area

    .arl_form_data_attr.arl_form_layout_blocks
      .arl_form_layout_dependent_attr
        = f.label :description_text_markup, 'Description', class: :arl_form_data_label_margin_right
        = f.select :description_parser_id, selectable.markup_parsers, {selected: f.object.description_parser_id}, {class: :arl_form_data_select}
      ~ f.text_area :description_text_markup, class: :arl_form_data_text_area

    .arl_form_data_attr.arl_form_layout_inline
      = f.check_box :show_can_display_title, class: :arl_form_data_checkbox
      = f.label :show_can_display_title, class: :arl_form_data_label_inline
    
    - if @auto_keyword
      = f.fields_for :picture_keywords do |pk|
        = render 'admin/shared/form_auto_keyword', auto_keyword: @auto_keyword, form: pk

  .arl_form_actions
    = f.submit class: :arl_button_form_submit



