= form_with(model: [:admin, picture], local: true, class: :arl_form) do |f|
  .arl_form_picture
    .arl_form_title
      Picture source
    .arl_form_data
      = render 'form_elements/source_select',    attribute: :source_type,               form: f, selectable: selectable
      = render 'form_elements/file_field',       attribute: :source_attachment,         form: f
      = render 'form_elements/text_field',       attribute: :source_catalog_file_path,  form: f, aside_before: "catalog/#{catalog_path_suffix_pictures}/"
    .arl_form_actions
      .arl_form_action_submit
        = f.submit class: :arl_button_form_submit

= form_with(model: [:admin, picture], url: admin_picture_attachment_purge_path(picture, pane: :source), local: true, class: :arl_form) do |f|
  .arl_form_picture
    .arl_form_action_submit
      = f.submit 'Purge Attachment', class: :arl_button_form_submit_destroy, data: { confirm: 'Are you sure?' }
