.arl_form_title
  = picture_statement_keywords_count(picture)

- if picture.does_have_keywords
  = form_with(model: [:admin, picture], url: admin_picture_path(picture, pane: :keywords), local: true, method: :patch, class: :arl_form) do |f|
    .arl_form_data
      %table.test_form_data_joins
        %thead
          %tr.test_form_data_joins_headers
            %th.test_form_data_joins_header keyword title
            %th.test_form_data_joins_header= icon_remove
        %tbody
          = f.fields_for :picture_keywords do |pk|
            %tr.test_form_data_joins_values
              %td.test_form_data_joins_value= keyword_reference_admin_link(pk.object.keyword)
              %td.test_form_data_joins_value= pk.check_box :_destroy
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation
        will also unjoin any keywords with 'remove' box checked

= render 'form_elements/spacer'

.arl_form_title
  Add to event
.arl_form_actions
  .arl_admin_resource_alt_buttons
    = picture_keyword_admin_button_to_new_join_single(picture)
