= html_head_title_extend! :picture

.arl_admin_resource_header
  .arl_admin_resource_header_class= 'picture upload'
  .arl_admin_resource_header_buttons
    = picture_admin_button_to_new
    = picture_admin_button_to_new_import
    = picture_admin_button_to_new_upload
    = picture_admin_button_to_index
    
.arl_picture_new_upload_menu
  .arl_picture_new_upload_menu_option
    = link_to "upload single", admin_picture_new_upload_single_path, class: :arl_button_form_submit
  .arl_picture_new_upload_menu_option
    = link_to "upload to album", admin_picture_new_upload_to_album_path, class: :arl_button_form_submit
  .arl_picture_new_upload_menu_option
    = link_to "upload to event", admin_picture_new_upload_to_event_path, class: :arl_button_form_submit
