= html_head_title_extend! :picture

.arl_admin_resource_header
  .arl_admin_resource_header_class= 'picture import to album'
  .arl_admin_resource_header_buttons
    = picture_admin_button_to_new
    = picture_admin_button_to_new_import
    = picture_admin_button_to_new_upload
    = picture_admin_button_to_index

.arl_admin_picture_edit
  = form_with(model: [:admin, Picture.new], local: true, url: admin_picture_create_from_import_to_album_path, class: :arl_form) do |f|

    .arl_form_data
      = render 'form_elements/text_field', attribute: :source_catalog_file_path, form: f, aside: "#{catalog_dirname(trailing_separator: true)}"

      = f.fields_for :album_pictures, f.object.album_pictures.build do |ap|
        = render 'form_elements/collection_select', form: ap, attribute: :album_id, blank: true, collection: @albums, label: 'Album title', text_method: :title

      - if @auto_keyword
        = f.fields_for :picture_keywords, f.object.picture_keywords.build do |pk|
          = render 'admin/shared/form_auto_keyword', auto_keyword: @auto_keyword, form: pk

    .arl_form_actions
      = f.submit class: :arl_button_form_submit
