= form_with(model: [:admin, arlocal_settings], url: admin_arlocal_settings_path(arlocal_settings, pane: :audio), local: true, class: :arl_form, method: :patch) do |f|
  .arl_form_title
    Audio settings

  .arl_form_data
    .arl_form_data_attr
      .arl_form_layout_inline
        = f.check_box :audio_default_date_released_enabled, class: :arl_form_data_checkbox
        = f.label :audio_default_date_released_enabled, class: :arl_form_data_label_inline
      .arl_form_layout_inline_inset
        %aside.arl_form_data_attr_explanation
          Automatically slect the following date for new audio
        .arl_form_layout_multifield
          = f.date_select :audio_default_date_released, { include_blank: true, selected: f.object.audio_default_date_released || Time.zone.now, start_year: (Date.today.year - 10) }, {class: :arl_form_data_select}

    .arl_form_data_attr.arl_form_layout_left
      = f.label :audio_default_isrc_country_code, class: [:arl_form_data_label, :arl_form_margin_right]
      = f.text_field :audio_default_isrc_country_code, size: 8, class: :arl_form_data_text_field
    
    .arl_form_data_attr.arl_form_layout_left
      = f.label :audio_default_isrc_registrant_code, class: [:arl_form_data_label, :arl_form_margin_right]
      = f.text_field :audio_default_isrc_registrant_code, size:8, class: :arl_form_data_text_field
        
  .arl_form_actions
    = f.submit 'Update A&R.local settings', class: :arl_button_form_submit
