= form_with(model: [:html_head, arlocal_settings], url: admin_arlocal_settings_path(arlocal_settings, pane: :html_head), local: true, class: :arl_form, method: :patch) do |f|
  .arl_form_title
    HTML Header settings

  .arl_form_data
    .arl_form_data_attr
      .arl_form_layout_blocks
        = f.label :html_head_favicon_catalog_filepath, class: :arl_form_data_label
      .arl_form_layout_blocks
        %aside.arl_form_data_attr_explanation
          small site icon
        %aside.arl_form_data_attr_explanation
          = "#{catalog_icon_filesystem_dirname}/"
        = f.text_field :html_head_favicon_catalog_filepath, class: :arl_form_data_text_field

    .arl_form_data_attr.arl_form_layout_blocks
      .arl_form_layout_inline
        = f.check_box :html_head_public_can_include_meta_description, class: :arl_form_data_checkbox
        = f.label :html_head_public_can_include_meta_description, class: :arl_form_data_label
      %aside.arl_form_data_attr_explanation.arl_form_layout_inline_inset
        Include a brief description tag for search engines and feeds.

  .arl_form_actions
    = f.submit 'Update A&R.Local settings', class: :arl_button_form_submit