= html_head_title_extend! :infopage, @infopage.title

.arl_admin_resource_header
  .arl_admin_resource_header_class= 'Info Page'
  .arl_admin_resource_header_title= @infopage.title
  .arl_admin_resource_header_buttons
    = infopage_admin_button_to_new
    = infopage_admin_button_to_edit_previous(@infopage_neighbors.previous)
    = infopage_admin_button_to_edit(@infopage)
    = infopage_admin_button_to_edit_next(@infopage_neighbors.next)
    = infopage_admin_button_to_index
  = render 'admin_infopage_stats', infopage: @infopage

.arl_infopage_show
  - if @infopage.does_have_items_group_top
    .arl_infopage_show_group
      .arl_infopage_show_group_nil
        - @infopage.items_group_top.each do |item|
          = render 'show_infopage_item', item: item
  - if @infopage.does_have_items_group_bottom
    .arl_infopage_show_group
      .arl_infopage_show_group_a
        - @infopage.items_group_left.each do |item|
          = render 'show_infopage_item', item: item
      .arl_infopage_show_group_b
        - @infopage.items_group_right.each do |item|
          = render 'show_infopage_item', item: item
