= form_with(model: [:admin, keyword], local: true, class: :arl_form) do |f|
  .arl_form_title
    Keyword Details
  .arl_form_data
    = render 'form_elements/text_field',  attribute: :title,                form: f
    = render 'form_elements/slug_field',  attribute: :slug,                 form: f, arlocal_settings: @arlocal_settings
    = render 'form_elements/check_box',   attribute: :can_select_pictures,  form: f
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
