.arl_form_title
  Import thumbnail picture

= form_with(model: [:admin, video], url: admin_video_picture_create_from_import_path(video), local: true, class: :arl_form) do |f|
  .arl_form_data
    = f.fields_for :picture, video.build_picture do |a|
      = render 'form_elements/text_field', attribute: :source_catalog_file_path, form: a, aside: "#{catalog_dirname(trailing_separator: true)}"
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
