-# TODO: define what 'selectable.pictures.count >= 2' means semantically, refactor logic into model.
- if selectable.does_have_pictures
  = form_with(model: [:admin, video], url: admin_video_path(video, pane: :picture), local: true, class: :arl_form) do |f|
    .arl_form_title
      Add thumbnail picture
    .arl_form_data
      = f.fields_for :video_picture, video.build_picture do |vp|
        = render 'form_elements/picture_select', attribute: :picture_id, form: vp, selectable: selectable
    .arl_form_actions
      = f.submit class: :arl_button_form_submit

.arl_form.arl_border_top
  .arl_form_title
    Add picture
  .arl_form_actions
    .arl_admin_resource_alt_buttons
      = video_picture_button_to_new_join_single(video)
      = video_picture_button_to_new_import(video)
      = video_picture_button_to_new_upload(video)
      -#= album_picture_admin_button_to_new_join_by_keyword(album)
