= html_head_title_extend! :video

.arl_admin_resource_header
  .arl_admin_resource_header_class= "video"
  .arl_admin_resource_header_title= "#{@video.title}"
  .arl_admin_resource_header_buttons
    = video_admin_button_to_new
    -# video_admin_button_to_previous(@video_neighbors.previous)
    = video_admin_button_to_edit(@video)
    -# video_admin_button_to_next(@video_neighbors.next)
    = video_admin_button_to_index
  -#= render '/admin/videos/admin_video_stats', video: @video

.arl_videos_show
  .arl_videos_show_player
    - if @video.source_is_file
      = render 'show_videojs_file', video: @video
    - elsif @video.source_is_url
      = render 'show_videojs_url', video: @video

  .arl_videos_show_text
    .arl_videos_show_text_title= @video.title
    .arl_videos_show_text_description= "#{@video.source_type}: #{@video.source_any_locator}"
    .arl_videos_show_text_description= parser_div @video.description_props
    .arl_videos_show_text_copyright= parser_div @video.copyright_props
