%header.arl_header
  %h1.arl_header_artist
    = arlocal_admin_artist_home_link(@arlocal_settings)
  .arl_header_nav
    %nav.arl_header_nav_global
      = arlocal_admin_nav_link(:arlocal_settings)
      = arlocal_admin_nav_link(:administrators)
    %nav.arl_header_nav_artist
      = arlocal_admin_nav_link(:albums)
      = arlocal_admin_nav_link(:articles)
      = arlocal_admin_nav_link(:audio)
      = arlocal_admin_nav_link(:events)
      = arlocal_admin_nav_link(:info)
      = arlocal_admin_nav_link(:keywords)
      = arlocal_admin_nav_link(:links)
      = arlocal_admin_nav_link(:pictures)
      = arlocal_admin_nav_link(:stream)
      = arlocal_admin_nav_link(:videos)
