.arl_form_title
  = audio_statement_events_count(audio)

- if audio.does_have_events
  = form_with model: [:admin, audio], url: admin_audio_path(audio, pane: :events), local: true, method: :patch, class: :arl_form do |f|
    .arl_form_data
      %table.test_form_data_joins
        %thead
          %tr.test_form_data_joins_headings
            %th.test_form_data_joins_heading event
            %th.test_form_data_joins_heading order
            %th.test_form_data_joins_heading= icon_remove
        %tbody
          = f.fields_for :event_audio do |ea|
            %tr.test_form_data_hoins_values
              %td.test_form_data_joins_value= event_reference_admin_link(ea.object.event)
              %td.test_form_data_joins_value= ea.text_field :event_order, size: 4, class: :arl_form_data_number_field
              %td.test_form_data_joins_value= ea.check_box :_destroy
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation= "will also unjoin any events with '#{icon_destroy}' box checked"

= render 'form_elements/spacer'

.arl_form_title
  Add to event
.arl_form_actions
  .arl_admin_resource_alt_buttons
    = audio_event_admin_button_to_new_join_single(audio)
