.arl_form_title
  = audio_statement_keywords_count(audio)

- if audio.does_have_keywords
  = form_with model: [:admin, audio], url: admin_audio_path(audio, pane: :keywords), local: true, class: :arl_form, method: :patch do |f|
    .arl_form_data
      %table.test_form_data_joins
        %thead
          %tr.test_form_data_joins_headings
            %th.test_form_data_joins_heading keyword title
            %th.test_form_data_joins_heading= icon_remove
        %tbody
          = f.fields_for :audio_keywords do |ak|
            %tr.test_form_data_joins_values
              %td.test_form_data_joins_value= keyword_reference_admin_link(ak.object.keyword)
              %td.test_form_data_joins_value= ak.check_box :_destroy
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
      %aside.arl_form_action_explanation= "will also unjoin any keywords with '#{icon_destroy}' box checked"

= render 'form_elements/spacer'

.arl_form_title
  Add keyword
.arl_form_actions
  .arl_admin_resource_alt_buttons
    = audio_keyword_admin_button_to_new_join_single(audio)
