= form_with(model: [:admin, audio], url: admin_audio_path(audio, pane: :source), local: true, class: :arl_form) do |f|
  .arl_form_title
    Audio source
  .arl_form_data
    = render 'form_elements/source_select',    attribute: :source_type,               form: f, selectable: selectable
    = render 'form_elements/file_field',       attribute: :recording,                 form: f, label: :source_attachment, purge_path: edit_admin_audio_path(audio, pane: :source_attachment_purge)
    = render 'form_elements/text_field',       attribute: :source_catalog_file_path,  form: f, aside: "#{catalog_filesystem_dirname(trailing_separator: true)}"
    -#= render 'form_elements/text_field',       attribute: :source_url,                form: f, aside_before: "catalog/#{catalog_path_suffix_audio}/"
  .arl_form_actions
    .arl_form_action_submit
      = f.submit class: :arl_button_form_submit
