= html_head_title_extend! :audio

.arl_admin_resource_header
  .arl_admin_resource_header_class= 'audio import to event'
  .arl_admin_resource_header_buttons
    = audio_admin_button_to_new
    = audio_admin_button_to_new_import
    = audio_admin_button_to_new_upload
    = audio_admin_button_to_index

.arl_admin_audio_edit
  = form_with(model: [:admin, Audio.new], local: true, method: :post, url: admin_audio_create_from_import_to_event_path) do |f|

    .arl_form_data
      .arl_form_data_attr.arl_form_layout_blocks
        = f.label :source_catalog_file_path, class: :arl_form_data_label
        %aside.arl_form_data_attr_explanation
          Name of file on server.
        %aside.arl_form_data_attr_explanation
          = "#{catalog_audio_filesystem_dirname}/"
        = f.text_field :source_catalog_file_path, class: :arl_form_data_text_field

    = f.fields_for :event_audio, f.object.event_audio.build do |ea|
      .arl_form_data_attr.arl_form_layout_blocks
        = ea.label :event_id, 'Event', class: :arl_form_data_label
        = ea.collection_select :event_id, @events, :id, :datetime_and_title, {include_blank: true}, {class: :arl_form_data_select}

    - if @auto_keyword
      = f.fields_for :audio_keywords, f.object.audio_keywords.build do |at|
        = render 'admin/shared/form_auto_keyword', auto_keyword: @auto_keyword, form: at

    .arl_form_actions
      = f.submit class: :arl_button_form_submit
